---
import Layout from "../../layouts/Layout.astro";
import { db, Cliente } from "astro:db";
import { eq } from "astro:db";
import Action from "../../components/Action.astro";
const clientes = await db.select().from(Cliente);

console.log(clientes);
---

<Layout title="Welcome to Astro.">
  <main
    class="flex flex-col justify-center items-center w-full xl:w-auto mx-auto mb-4"
  >
    <h1 class="text-5xl text- cneter text-white mt-12">Clientes</h1>

    <div
      class="fixed top-0 z-50 flex items-center justify-center w-full mx-auto mt-32 gap-4"
    >
      <table
        class="w-auto text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
      >
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3"> Nombre </th>
            <th scope="col" class="px-6 py-3"> Apellido </th>
            <th scope="col" class="px-6 py-3"> Calle </th>
            <th scope="col" class="px-6 py-3"> Colonia </th>
            <th scope="col" class="px-6 py-3"> Número </th>
          </tr>
        </thead>
        <tbody>
          {
            clientes.map((cliente) => (
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th
                  scope="row"
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                >
                  {cliente.nombre}
                </th>
                <td class="px-6 py-4">{cliente.apellido}</td>
                <td class="px-6 py-4">{cliente.calle}</td>
                <td class="px-6 py-4">{cliente.colonia}</td>
                <td class="px-6 py-4">{cliente.numero}</td>
              </tr>
            ))
          }
        </tbody>
      </table>
      <div class="flex flex-row items-center justify-center gap-6">
        <div>
          <Action
            class="w-auto text-base"
            as="a"
            href="/home"
            rel="noopener noreferrer"
            aria-label="Ir a la pagina principal"
          >
            Ir al inicio
          </Action>
        </div>
      </div>
    </div>
  </main>
  <!-- El resto del código se mantiene igual -->
</Layout>
